[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:Sistema-CRM-Ariol/client-gateway.git
[submodule "clients-ms"]
	path = clients-ms
	url = git@github.com:Sistema-CRM-Ariol/clients-ms.git
[submodule "products-ms"]
	path = products-ms
	url = git@github.com:Sistema-CRM-Ariol/products-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = git@github.com:Sistema-CRM-Ariol/auth-ms.git
[submodule "expenses-ms"]
	path = expenses-ms
	url = git@github.com:Sistema-CRM-Ariol/expenses-ms.git
[submodule "incomes-ms"]
	path = incomes-ms
	url = git@github.com:Sistema-CRM-Ariol/incomes-ms.git
[submodule "inventories-ms"]
	path = inventories-ms
	url = git@github.com:Sistema-CRM-Ariol/inventories-ms.git
[submodule "warehouses-ms"]
	path = warehouses-ms
	url = git@github.com:Sistema-CRM-Ariol/warehouses-ms.git
