version: '3'

services:

  nats-server:
    image: nats:latest
    container_name: nats-server
    ports:
      - "8222:8222"
      - "4222:4222"
      

  # ===== CLIENT GATEWAY ===== 
  client-gateway:
    image: client-gateway
    build:
      context: ./client-gateway
      dockerfile: dockerfile

    ports:
      - ${CLIENT_GATEWAY_PORT}:${CLIENT_GATEWAY_PORT}

    environment:
      - PORT=${CLIENT_GATEWAY_PORT}
      - NATS_SERVERS=nats://nats-server:4222

  # ===== PRODUCTS MS ===== 
  products-database:
    image: postgres:13.5
    container_name: products-database
    restart: always
    environment:
      POSTGRES_DB: products
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5430:5432'
    volumes:
      - ./products-ms/postgres:/var/lib/postgresql/data

  products-ms:
    depends_on:
      - products-database
    container_name: products-microservice
    restart: always
    build:
      context: ./products-ms
      dockerfile: dockerfile
    command:  npm run start:migrate:prod
    environment:
      - PORT=3000
      - DATABASE_URL=${PRODUCTS_DATABASE_URL}
      - NATS_SERVERS=nats://nats-server:4222

  # ===== WAREHOUSE MS ===== 
  warehouses-database:
    image: postgres:13.5
    container_name: warehouses-database
    restart: always
    environment:
      POSTGRES_DB: warehouses
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5431:5432'
    volumes:
      - ./warehouses-ms/postgres:/var/lib/postgresql/data

  warehouses-ms:
    depends_on:
      - warehouses-database
    restart: always
    container_name: warehouses-microservice
    build:
      context: ./warehouses-ms
      dockerfile: dockerfile
  
    command:  npm run start:migrate:prod
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=${WAREHOUSES_DATABASE_URL}

  # ===== USERS MS ===== 
  users-database:
    image: postgres:13.5
    container_name: users-database
    restart: always
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - ./auth-ms/postgres:/var/lib/postgresql/data

  users-ms:
    image: users-ms
    depends_on:
      - users-database
    container_name: users-microservice
    
    build:
      context: ./auth-ms
      dockerfile: dockerfile
    
    command:  npm run start:migrate:prod
    
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=${USERS_DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}

  # ===== CLIENTS MS ===== 
  clients-database:
    image: postgres:13.5
    container_name: clients-database
    restart: always
    environment:
      POSTGRES_DB: clients
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'
    volumes:
      - ./clients-ms/postgres:/var/lib/postgresql/data

  clients-ms:
    depends_on:
      - clients-database
    restart: always
    container_name: clients-microservice
    build:
      context: ./clients-ms
      dockerfile: dockerfile
    command:  npm run start:migrate:prod
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=${CLIENTS_DATABASE_URL}


  # ===== INVENTORIES MS ===== 
  inventories-database:
    image: postgres:13.5
    container_name: inventories-database
    environment:
      POSTGRES_DB: inventories
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5434:5432'
    volumes:
      - ./inventories-ms/postgres:/var/lib/postgresql/data

  inventories-ms:
    depends_on:
      - inventories-database
    restart: always
    container_name: inventories-microservice
    build:
      context: ./inventories-ms
      dockerfile: dockerfile
    command:  npm run start:migrate:prod
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=${INVENTORIES_DATABASE_URL}

  # ===== INVENTORIES MS ===== 
  imports-database:
    image: postgres:13.5
    container_name: imports-database
    environment:
      POSTGRES_DB: imports
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5435:5432'
    volumes:
      - ./imports-ms/postgres:/var/lib/postgresql/data

  imports-ms:
    depends_on:
      - imports-database
    restart: always
    container_name: imports-microservice
    build:
      context: ./imports-ms
      dockerfile: dockerfile
    command:  npm run start:migrate:prod
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=${IMPORTS_DATABASE_URL}

  # ===== EXPORTS MS ===== 
  exports-database:
    image: postgres:13.5
    container_name: exports-database
    environment:
      POSTGRES_DB: exports
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5436:5432'
    volumes:
      - ./exports-ms/postgres:/var/lib/postgresql/data
  
  # ===== LEADS MS ===== 

  leads-ms:
    depends_on:
      - leads-database
    restart: always
    container_name: leads-microservice
    build:
      context: ./leads-ms
      dockerfile: dockerfile
    command:  npm run start:migrate:prod
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=${LEADS_DATABASE_URL}


  leads-database:
    image: postgres:13.5
    container_name: leads-database
    environment:
      POSTGRES_DB: leads
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5437:5432'
    volumes:
      - ./leads-ms/postgres:/var/lib/postgresql/data

  # ===== PROVIDERS MS ===== 
  providers-ms:
    depends_on:
      - providers-database
    restart: always
    container_name: providers-microservice
    build:
      context: ./providers-ms
      dockerfile: dockerfile
    command:  npm run start:migrate:prod
    environment:
      - NATS_SERVERS=nats://nats-server:4222
      - DATABASE_URL=${PROVIDERS_DATABASE_URL}

  providers-database:
    image: postgres:13.5
    container_name: providers-database
    environment:
      POSTGRES_DB: providers
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5438:5432'
    volumes:
      - ./providers-ms/postgres:/var/lib/postgresql/data

